<div class="container studies">
    <h3>Studies</h3>
    <form #fStudies="ngForm" class="skills__formStudies" (ngSubmit)="save(fStudies.value)">
        <div class="form-group">
            <h5>High School</h5>
            <div class="form-group">
                <label for="titleSchool">Obtained title</label>
                <input ngModel name="titleSchool" id="titleSchool" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="nameSchool">Establishment Name</label>
                <input ngModel name="nameSchool" id="nameSchool" type="text" class="form-control" required>
            </div>
            <div class="form-group"> 
                <label for="citySchool">Adress / City </label>
                <input ngModel name="citySchool" id="city" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="departureSchool">Year of departure</label>
                <input ngModel name="departureSchool" id="departureSchool" type="text" class="form-control" required>
            </div>
            <hr>

            <h5>College</h5>
            <div class="form-group">
                <label for="college">Are you studying at the university?</label><br>
                <div class="radio">
                    <label><input type="radio" ngModel name="optionCollege" value="yes" (click)="enableButton()"> Yes</label>
                </div>
                <div class="radio">
                    <label><input type="radio" ngModel name="optionCollege" value="no" (click)="disabledButtons()"> No</label>
                </div>
                <div class="radio">
                    <label><input type="radio" ngModel name="optionCollege" value="inProgress" (click)="inProgress()"> In progress</label>
                </div>            
            </div>
            <div *ngIf="flagInput">
                <div class="form-group"> 
                    <label *ngIf="!flagProgress" for="titleCollege" >Title of Studies</label>
                    <input *ngIf="!flagProgress" ngModel name="titleCollege" id="titleCollege" type="text" class="form-control" required>

                    <label *ngIf="flagProgress" for="studyingCollege" >What are you studying?</label>
                    <input *ngIf="flagProgress" ngModel name="studyingCollege" id="studyingCollege" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="collegeName">Establishment Name</label>
                    <input ngModel name="collegeName" id="collegeName" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="adressCollege">Adress / City </label>
                    <input ngModel name="adressCollege" id="adressCollege" type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label *ngIf="!flagProgress" for="egressCollege">Year of departure</label>
                    <input *ngIf="!flagProgress" ngModel name="egressCollege" id="egressCollege" type="text" class="form-control" required>

                    <label *ngIf="flagProgress" for="whatYearStudy">What year are you studying</label>
                    <input *ngIf="flagProgress" ngModel name="whatYearStudy" id="whatYearStudy" type="text" class="form-control" required>
                </div>     
            </div>           
        </div>
        <button class="btn btn-primary" [disabled]="fStudies.invalid">Save and Continue</button>
    </form>
</div>