<div class="containerDash" id="main" *ngIf="cvVisionShare$ | async as cv">
        <div class="containerDash__categories">
            <nav class="containerDash__categories__nav">
                <ul class="containerDash__categories__nav__ul">
                    <li (click)="element('profile')" >Profile</li>
                    <li (click)="element('aboutMe')" >About Me</li>
                    <li (click)="element('studies')" >Studies</li>
                    <li (click)="element('skills')" >Skills</li>
                    <!-- <li (click)="element('experience')" *ngIf="cv[2].workExperience === 'yes'">Experience</li> -->
                    <li (click)="element('goals')" >Goals</li>
                    <li (click)="element('contact')" >Contact</li>
                </ul>
            </nav>
        </div>
        <div class="containerDash__dashCV" id="dashCV">
            <div class="card" id="profile">
                <profile 
                [cv] = "cv"
                ></profile>
            </div> 
            <hr>
            <div class="containerDash__dashCV__aboutMe card" id="aboutMe">
               <about-me 
               [cv]="cv"
               [flagButtons]="flagButtons"
               ></about-me>
            </div>
            <hr>
            <div class="containerDash__dashCV__studies card" id="studies">
              <studies 
              [cv]="cv"
              [flagButtons]="flagButtons"
              ></studies>  
            </div>
            <hr>
            <div lass="containerDash__dashCV__skills card" id="skills">
                <skills 
                [cv]="cv"
                [flagButtons]="flagButtons"
                ></skills>
            </div>
            <hr>
            <div class="containerDash__dashCV__experience card" id="experience">
                <experience 
                [cv]="cv"
                [flagButtons]="flagButtons"
                ></experience>
            </div>
            <hr>
            <div class="containerDash__dashCV__goals card" id="goals">
                <goals 
                [cv]="cv"
                [flagButtons]="flagButtons"
                ></goals>
            </div>
            <hr>
             <div class="containerDash__dashCV__contact card" id="contact">
                <contact 
                [cv]="cv"
                [flagButtons]="flagButtons"
                ></contact>
            </div>
        </div>
    </div>
    