@import "../../../../styles/utils";

.contact {
    &__showContact {
        display: flex;
        flex-direction: column;
    }
    &__result {
        @include flex-col;
    }
}


.fa {
    @include font-icon(15px);
}
label {
    font-weight: 600;
}