<div class="login">
    <img class="login__img" src="../../../../assets/desktopBackground/office-background.jpg" alt="">
    <div class="login__container">
        <h1>Welcome</h1>
        <p class="login__container__paragraph">
        On this page you can create your own CV 
        in the form of a Website to share your life 
        summary with a simple link.
        First, you need to login
        </p>
        <button class="btn btn-primary" (click)="login()">Log With Google</button>
    </div>
</div>