<div *ngIf="user$ | async as user">
    <div class="dashboard" *ngIf="cv$ | async as cv">
        <div *ngIf="cvIncomplete">
            <div *ngIf="feedbackError$ | async as feedback">
                <feedback [feedback]="feedback"></feedback>
            </div>
        </div>    
        <div *ngIf="cv.length === 0" class="dashboard__home">
            <home [user]="user"></home>
        </div>

        <div *ngIf="cv.length === 7" class="">
            <dash-cv></dash-cv>
        </div>
    </div>
</div>
    