<div class="containerDash" id="main">
    <div class="containerDash__categories">
        <nav class="containerDash__categories__nav">
            <ul class="containerDash__categories__nav__ul">
                <li (click)="elementProfile()">Profile</li>
                <li (click)="elementAboutMe()">About Me</li>
                <li (click)="elementStudies()">Studies</li>
                <li (click)="elementSkills()">Skills</li>
                <li (click)="elementExperience()">Experience</li>
                <li (click)="elementoGoals()">Goals</li>
                <li (click)="elementContact()">Contact</li>
            </ul>
        </nav>
    </div>
    <div class="containerDash__dashCV" id="dashCV">
        <div *ngIf="profile$ | async as pr" class="card" id="profile">
          <profile 
          [displayName]="displayName"
          [pr] = "pr"
          [photoURL]="photoURL"
          ></profile>
        </div>
        <hr>
        <div *ngIf="aboutMe$ | async as ab" class="containerDash__dashCV__aboutMe card" id="aboutMe">
           <about-me 
           [ab]="ab"
           ></about-me>
        </div>
        <hr>
        <div *ngIf="studies$ | async as st" class="containerDash__dashCV__studies card" id="studies">
          <studies 
          [st]="st"
          ></studies>  
        </div>
        <hr>
        <div *ngIf="skills$ | async as sk" class="containerDash__dashCV__skills card" id="skills">
            <skills 
            [sk]="sk"
            ></skills>
        </div>
        <hr>
        <div *ngIf="experience$ | async as ex" class="containerDash__dashCV__experience card" id="experience">
            <experience 
            [ex]="ex"
            ></experience>
        </div>
        <hr>
        <div *ngIf="goals$ | async as go" class="containerDash__dashCV__goals card" id="goals">
            <goals 
            [go]="go"
            ></goals>
        </div>
        <hr>
        <div *ngIf="contact$ | async as co" class="containerDash__dashCV__contact card" id="contact">
            <contact [co]="co"></contact>
        </div>
    </div>
<!-- </div> -->
