<div class="container">
    <div class="home" *ngIf="user$ | async as user">
        <div *ngIf="cv.length === 0">
            <div *ngIf="user$ | async as user">
                Regards {{ user.displayName }}! Thanks for joining to MyCVision. 
                let's start building the Curriculum Vitae
                <div>
                    <button class="btn btn-primary" routerLink="/profile">Design Profile</button>
                </div>
            </div>
        </div>
        <div *ngIf="cv.length === 7">
            Congratulations {{ user.displayName }}! you have your CV ready! 
        </div>
    </div>
</div>
