@import '../../../../styles/utils';
@import '../../../../styles/settings.variables';


.img-background {
    width: 100%;
    filter: brightness(0.7);
    @media (min-width: $breakpoint-tablet) {
        position: absolute;
    }
}

.home {
    font-size: 18px;
    position: relative;
    @media (min-width: $breakpoint-tablet) {
        font-size: 30px;
        position: relative;
        color: #fff;
    }
    &__containerHome {
        text-align: center;
        @media (min-width: $breakpoint-tablet) {
            padding-top: 100px;
        }
        &__paragraph {
            text-align: justify;
        }
    }
}