@import "../../../../styles/utils";

.fa {
    @include font-icon(15px);
}
.fa-save {
    border: none;
    background: #fff;
}
.skills {
    &__content {
        &__result {
            @include flex-col;
        }
    }
    &__divBtn {
        display: flex;
        flex-direction: row;
        &__btnPlus {
            margin-right: 10px;
        }
    }
}