@import "../../../../styles/utils";

.skills {
    &__content {
        &__result {
            @include flex-col;
        }  
        &__divSkillValue {
            &__valueSkill {
                // font-weight: 600;
            }
        }
    }
    &__divBtn {
        display: flex;
        flex-direction: row;
        &__btnPlus {
            margin-right: 10px;
        }
    }
}

.fa {
    @include font-icon(15px);
}
.fa-save {
    border: none;
    background: #fff;
    margin-left: 10px;
}
label {
    margin-right: 10px;
}
