<div class="card-body">
    <div>
        <h5>High School</h5>
        <div>
            Name: {{cv[6].nameSchool}} <br>
            Title: {{cv[6].titleSchool}} <br>
            City School: {{ cv[6].citySchool }} <br>
            Egress School: {{ cv[6].departureSchool }} <br>
        </div>
    </div>
    <br>
    <div 
    *ngIf="cv[6].optionCollege === 'yes' || 
    cv[6].optionCollege === 'inProgress'">
        <h5>College</h5>
        <div *ngIf="cv[6].optionCollege === 'yes'">
            Name: {{cv[6].collegeName}} <br>
            Title: {{cv[6].titleCollege}} <br>
            City College: {{ cv[6].adressCollege }} <br>
            Egress College: {{ cv[6].egressCollege }} <br>
        </div>
        <div *ngIf="cv[6].optionCollege === 'inProgress'">
            Name: {{cv[6].collegeName}} <br>
            I Study: {{cv[6].studyingCollege}} <br>
            City College: {{ cv[6].adressCollege }} <br>
            Year: {{ cv[6].whatYearStudy }} <br>
        </div>
    </div>
</div>