<div class="studies">
    <div *ngIf="flagButtons">
        <div class="card-body">
            <h5>High School</h5>
            <div *ngIf="!flagCvEdit">
                <label>Name: </label>
                 {{cv[6].nameSchool}}<br>

                <label>Title: </label> 
                {{cv[6].titleSchool}} <br>

                <label>City School: </label> 
                {{ cv[6].citySchool }} <br>

                <label>Egress School: </label> 
                {{ cv[6].departureSchool }} <br>
            </div>
            <div class="studies__changesResult" *ngIf="flagCvEdit">
                <label>Name: </label>
                <input id="nameSchool" type="text" value="{{cv[6].nameSchool}}"><br>
               
                <label>Title: </label> 
                <input id="titleSchool" type="text" value="{{cv[6].titleSchool}}">  <br>
                
                <label>City School: </label>
                <input id="citySchool" type="text" value="{{ cv[6].citySchool }}">  <br>
                
                <label>Egress School: </label>
                <input id="departureSchool" type="text" value="{{ cv[6].departureSchool }}"><br>
            </div>
                
            <div *ngIf="cv[6].optionCollege === 'no' && flagButtons">
                <i *ngIf="!flagCvEdit" class="fa fa-edit" (click)="edit()"></i>
                <i *ngIf="flagCvEdit" class="fa fa-save" (click)="save()"></i>
            </div>
        </div>
        <div  class="studies__changesResultDiv card-body" *ngIf="cv[6].optionCollege === 'yes' || cv[6].optionCollege === 'inProgress'">
            <h5>College</h5>
            <div *ngIf="!flagCvEdit">
                <div *ngIf="cv[6].optionCollege === 'yes'">
                    <label>Name: </label>
                    {{cv[6].collegeName}} <br>
                    <label>Title: </label> 
                    {{cv[6].titleCollege}} <br>
                    
                    <label>City College: </label>
                    {{ cv[6].adressCollege }} <br>
                    
                    <label>Egress College: </label>
                    {{ cv[6].yearCollege }} <br>
                </div>
                <div *ngIf="cv[6].optionCollege === 'inProgress'">
                    <label>Name: </label>
                    {{cv[6].collegeName}} <br>
                    
                    <label>I Study: </label>
                    {{cv[6].titleCollege}} <br>
                    
                    <label>City College: </label>
                    {{ cv[6].adressCollege }} <br>
                    
                    <label>Year: </label>
                    {{ cv[6].yearCollege }} <br>
                </div>
            </div>
            <div *ngIf="flagCvEdit" class="studies__changesResultDiv__content">
                <div *ngIf="cv[6].optionCollege === 'yes'" class="studies__changesResultDiv__content__result">
                    <label>Name: </label>
                    <input id="collegeName" type="text" value="{{cv[6].collegeName}}"> <br>
                    
                    <label>Title: </label>
                    <input id="titleCollege" type="text" value="{{cv[6].titleCollege}}"> <br>
                    
                    <label>City College: </label>
                    <input id="adressCollege" type="text" value="{{ cv[6].adressCollege }}"> <br>
                    
                    <label>Egress College: </label>
                    <input id="yearCollege" type="text" value="{{ cv[6].yearCollege }}"> <br>
                </div>
                <div *ngIf="cv[6].optionCollege === 'inProgress'" class="studies__changesResultDiv__content__result">
                    <label>Name: </label>
                    <input id="collegeName" type="text" value="{{cv[6].collegeName}}"> <br>
                    
                    <label>I Study: </label> 
                    <input id="titleCollege" type="text" value="{{cv[6].titleCollege}}"> <br>
                    
                    <label>City College: </label>
                    <input id="adressCollege" type="text" value="{{ cv[6].adressCollege }}"> <br>

                    <label>Year: </label>
                    <input id="yearCollege" type="text" value="{{ cv[6].yearCollege }}"> <br>
                </div>
            </div>
            <div *ngIf="flagButtons">
                <i *ngIf="!flagCvEdit" class="fa fa-edit" (click)="edit()"></i>
                <i *ngIf="flagCvEdit" class="fa fa-save" (click)="save()"></i>
            </div>
        </div>
    </div> 
    <div *ngIf="!flagButtons">
        <div class="card-body">
            <h5>High School</h5>
            <div>
                <label>Name: </label>
                {{cv[6].nameSchool}} <br>
                
                <label>Title: </label>
                {{cv[6].titleSchool}} <br>
                
                <label>City School: </label>
                {{ cv[6].citySchool }} <br>
                
                <label>Egress School: </label>
                {{ cv[6].departureSchool }} <br>
            </div>
        </div>
        <div *ngIf="!(cv[6].optionCollege === 'no')" class="studies__changesResultDiv card-body">
            <h5>College</h5>
            <div>
                <div *ngIf="cv[6].optionCollege === 'yes'">
                    <label>Name: </label>
                    {{cv[6].collegeName}} <br>
                    
                    <label>Title: </label>
                    {{cv[6].titleCollege}} <br>
                    
                    <label>City College: </label>
                    {{ cv[6].adressCollege }} <br>
                    
                    <label>Egress College: </label>
                    {{ cv[6].yearCollege }} <br>
                </div>
                <div *ngIf="cv[6].optionCollege === 'inProgress'">
                    <label>Name: </label>
                    {{cv[6].collegeName}} <br>
                    
                    <label>I Study: </label>
                    {{cv[6].titleCollege}} <br>
                    
                    <label>City College: </label>
                    {{ cv[6].adressCollege }} <br>
                    
                    <label>Year: </label>
                    {{ cv[6].yearCollege }} <br>
                </div>
            </div>
        </div>
    </div>
</div>