<div class="studies">
    <div class="card-body">
        <h5>High School</h5>
        <div *ngIf="!flagCvEdit">
            Name: {{cv[6].nameSchool}} <br>
            Title: {{cv[6].titleSchool}} <br>
            City School: {{ cv[6].citySchool }} <br>
            Egress School: {{ cv[6].departureSchool }} <br>
        </div>
        <div class="studies__changesResult" *ngIf="flagCvEdit">
            Name: <input id="nameSchool" type="text" value="{{cv[6].nameSchool}}"><br>
            Title: <input id="titleSchool" type="text" value="{{cv[6].titleSchool}}">  <br>
            City School: <input id="citySchool" type="text" value="{{ cv[6].citySchool }}">  <br>
            Egress School: <input id="departureSchool" type="text" value="{{ cv[6].departureSchool }}"><br>
        </div>
            
        <div *ngIf="cv[6].optionCollege === 'no' && flagButtons">
            <i *ngIf="!flagCvEdit" class="fa fa-edit" (click)="edit()"></i>
            <i *ngIf="flagCvEdit" class="fa fa-save" (click)="save()"></i>
        </div>
    </div>
    <div  class="studies__changesResultDiv card-body" *ngIf="cv[6].optionCollege === 'yes' || cv[6].optionCollege === 'inProgress'">
        <h5>College</h5>
        <div *ngIf="!flagCvEdit">
            <div *ngIf="cv[6].optionCollege === 'yes'">
                Name: {{cv[6].collegeName}} <br>
                Title: {{cv[6].titleCollege}} <br>
                City College: {{ cv[6].adressCollege }} <br>
                Egress College: {{ cv[6].yearCollege }} <br>
            </div>
            <div *ngIf="cv[6].optionCollege === 'inProgress'">
                Name: {{cv[6].collegeName}} <br>
                I Study: {{cv[6].titleCollege}} <br>
                City College: {{ cv[6].adressCollege }} <br>
                Year: {{ cv[6].yearCollege }} <br>
            </div>
        </div>
        <div *ngIf="flagCvEdit" class="studies__changesResultDiv__content">
            <div *ngIf="cv[6].optionCollege === 'yes'" class="studies__changesResultDiv__content__result">
                Name: <input id="collegeName" type="text" value="{{cv[6].collegeName}}"> <br>
                Title: <input id="titleCollege" type="text" value="{{cv[6].titleCollege}}"> <br>
                City College: <input id="adressCollege" type="text" value="{{ cv[6].adressCollege }}"> <br>
                Egress College: <input id="yearCollege" type="text" value="{{ cv[6].yearCollege }}"> <br>
            </div>
            <div *ngIf="cv[6].optionCollege === 'inProgress'" class="studies__changesResultDiv__content__result">
                Name: <input id="collegeName" type="text" value="{{cv[6].collegeName}}"> <br>
                I Study: <input id="titleCollege" type="text" value="{{cv[6].titleCollege}}"> <br>
                City College: <input id="adressCollege" type="text" value="{{ cv[6].adressCollege }}"> <br>
                Year: <input id="yearCollege" type="text" value="{{ cv[6].yearCollege }}"> <br>
            </div>
        </div>
        <div *ngIf="flagButtons">
            <i *ngIf="!flagCvEdit" class="fa fa-edit" (click)="edit()"></i>
            <i *ngIf="flagCvEdit" class="fa fa-save" (click)="save()"></i>
        </div>
    </div>
</div>