
<div class="profile  container">
    <div class="col-md-6">
        <h3>Profile</h3>
        <form #f="ngForm" (ngSubmit)="save(f.value)" *ngIf="user$ | async as user">
            <div>
                <label for="name">Name Complete</label>
                <input id="name" name="nameComplete" type="text" class="form-control" value="{{ displayName }}" readonly>
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <select #country="ngModel" ngModel name="country" 
                id="country" class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let c of countries$ | async" [value]="c.$key">
                        {{ c.name }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="country.touched && country.invalid">
                    Country is required
                </div>
            </div>
            <div class="form-group profile__imgProfile">
                <label for="imageUrl">Image Profile</label>
                <img src="{{ photoURL }}" alt="" width="100px">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" [disabled]="f.invalid">Save and continue</button>            
            </div>
        </form>
    </div>
</div>
