<div class="experience">
    <div class="card-body experience__containerDiv">
        <div class="experience__containerDiv__title">
            <div><h5>Experience</h5></div>
            <div *ngIf="flagButtons"><button class="fa fa-plus" (click)="addMore()"></button></div>
        </div>
        <div  class="experience__containerDiv__showResult">
            <div *ngIf="!flagCvEdit" class="experience__containerDiv__showResult__containerData">
                <nav>
                    <ul>
                        <li *ngFor="let experience of arrExperience; let i = index">
                            <div class="experience__containerDiv__showResult__containerData__datas">
                                <div class="experience__containerDiv__showResult__containerData__datas__companyLogo">
                                    <div>
                                        {{ experience.companyName }}
                                    </div>
                                </div>
                                <div class="experience__containerDiv__showResult__containerData__datas__experienceData">
                                    <div>
                                        <label>Time Period: </label> 
                                        {{ experience.timePeriod }}
                                    </div>
                                    <div>
                                        <label>Responsibilities: </label> 
                                        {{ experience.responsibilities }}
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="flagButtons" class="experience__containerDiv__showResult__containerData__buttons">
                                <button class="fa fa-trash" (click)="delete(i)"></button>
                                <button class="fa fa-edit" (click)="edit(i)"></button>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>