<div *ngIf="cv[2].workExperience == 'yes'" class="experience">
    <div class="card-body">
        <h5>Experience</h5>
        <div *ngIf="!flagCvEdit" class="experience__showResult">
            Company Name: {{ cv[2].companyName }} <br>
            Time Period: {{ cv[2].timePeriod }} <br>
            Responsabilities: {{ cv[2].responsibilities }} <br>
        </div>
        <div *ngIf="flagCvEdit" class="experience__editResult">
            <label>Company Name:</label> 
            <input  id="companyName" type="text" value="{{ cv[2].companyName }}">  
            <label>Time Period:</label> 
            <input  id="timePeriod" type="text" value="{{ cv[2].timePeriod }}"> 
            <label>Responsabilities: </label> 
            <textarea id="responsabilities">{{ cv[2].responsibilities }}</textarea> 
        </div>
        <div *ngIf="flagButtons">
            <div>
                <i *ngIf="!flagCvEdit" class="fa fa-edit" (click)="edit()"></i>
                <i *ngIf="flagCvEdit" class="fa fa-save" (click)="save()"></i>
            </div>
            <!-- <i class="fa fa-plus-square"></i> -->
        </div>
    </div>
</div>