.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__containerData {
        font-size: 15px;
    }
    &__containerImg {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        &__img {
            width: 100px;
            height: 100px;
            border-radius: 100px;
        }
    }
}