@import "../../../../styles/utils";

.fa {
    @include font-icon;
}
.goals {
    &__result {
        @include flex-col;
    }
    &__divList {
        &__navList {
            &__ulList {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &__list {
                    width: 90%;
                }
            }
        }
    }
}