<div class="card-body goals">
    <h5>
        Goals
    </h5>
    <div *ngIf="!flagCvEdit" class="goals__divList">
        <nav class="goals__divList__navList">
            <ul class="goals__divList__navList__ulList">
                <li class="goals__divList__navList__ulList__list">
                    {{ cv[3].Goals1 }}
                </li>
                
                <li class="goals__divList__navList__ulList__list">
                    {{ cv[3].Goals2 }}
                </li>
                
                <li class="goals__divList__navList__ulList__list">
                    {{ cv[3].Goals3 }}
                </li>
            </ul>
        </nav>
    </div>
    <div *ngIf="flagCvEdit" class="goals__result">
        Goal 1:<input id="goals1" type="text" value="{{ cv[3].Goals1 }}"> <br>
        Goal 2:<input id="goals2" type="text" value="{{ cv[3].Goals2 }}"> <br>
        Goal 3:<input id="goals3" type="text" value="{{ cv[3].Goals3 }}"> <br>
    </div>
    <div *ngIf="flagButtons">
        <i *ngIf="!flagCvEdit" class="fa fa-edit" (click)="edit()"></i>
        <i *ngIf="flagCvEdit" class="fa fa-save" (click)="save()"></i>
    </div>
</div>