@import "../../../../styles/settings.variables";

.img-background {
    width: 100%;
    filter: brightness(0.9);
    @media (min-width: $breakpoint-tablet) {
        position: absolute;
    }
}

.feedback {
    text-align: center;
    padding-top: 40px;
    @media (min-width: $breakpoint-tablet) {
        padding-top: 100px;
        position: relative;
        color: #fff;
    }
    &__parragraph {
        text-align: justify;
    }
}