@import "../../../../styles/settings.variables";

.navbar {
    display: flex;
    flex-direction: column;
    @media (min-width: $breakpoint-tablet) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    &__icon {
        display: flex;
        align-items: center;
    }
    &__containerLinks {
        &__ulLinks {
            display: flex;
            flex-direction: row;
            .li-AboutUs {
                margin-right: 15px;
            }
        }
    }
}