<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">MyCVision</a>
    <div class="navbar__containerLinks">
        <ul class="navbar-nav mr-auto navbar__containerLinks__ulLinks">
            <li class="nav-item li-AboutUs">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
            </li>
            <div class="btn btn-link" *ngIf="user$ | async as user">
                <span (click)="logOut()">Sing Out</span>
            </div>
        </ul>
    </div>
</nav>